<div class="auth-container">
  <h2>Reset Password</h2>
  <form (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Token</mat-label>
      <input
        matInput
        name="token"
        [(ngModel)]="token"
        required
        readonly
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!token || !newPassword"
    >
      Reset Password
    </button>
  </form>
</div>
