<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Country</mat-label>
    <input matInput [(ngModel)]="data.country">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="data.role">
      <mat-option [value]="UserRole.User">User</mat-option>
      <mat-option [value]="UserRole.Admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
